@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
  --color-primary: #4D41C0;
  --bg-gray: #e8e8e8;
  --white: #fff;
  --text-light-gray: #aaa; 
  --star-yellow: #FFBB3A;
  --text-gray: #4a4a4a;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    background-color: #E5E5E5;
}

a, a:hover {
  text-decoration: none;
  color: unset;
}